.table_dataset{
    font-size: 14px;
}  
.table_exsm{
    font-size: 12px;
}  

.b-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

.button_update_table {
    min-width: 140px;
    max-width: 140px;
}

.column {
    float: left;
  }
  
.left {
    width: 75%;
}

.right {
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}