body{
    background-color: #222222;
    background-attachment:fixed;
    background-position:center;
    font-family: sans-serif;
    color: white;
}
h1{
    font-size:x-large;
    font-variant:sans-serif;
    color: white;
    text-align: center;
}
h2{
    padding-bottom:0.5em;
    font-style: italic;
    border-bottom: 1px solid white;
    font-size:large;
    color: white;
}
a {
    color: cyan;
}
img {
    max-width: 100%;
}
button.accordion {
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid #009900;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: left;
    outline: none;
    font-size: large;
    transition: 0.4s;
}

button.accordion:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

button.accordion.active {
    border: 2px solid #990000;
}

button.accordion:after {
    content: '\002B';
    color: #009900;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
    color: #990000;
}

#plot {
	height: 80vh;
	width: 95vw;
}

form {
	display: inline;
}

input {
	background-color: #333;
	color: #fff;
}

select {
	background-color: #333;
	color: #fff;
}

button {
    background-color: #444;
    color: #fff;
	border: 1px solid white;
	border-radius: 5px;
}


div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  width: 100%;
  padding: 1em;
}
