body{
    background-color:"#222222";
    background-attachment:fixed;
    background-position:center;
    font-family: sans-serif;
    color: white;
}

h1{
font-size:x-large;
color: white;
text-align: center;
}
h2{
padding-bottom:0.5em;
font-style: italic;
border-bottom: 1px solid white;
font-size:large;
color: white;
}
h3{
padding-bottom:0.5em;
font-style: italic;
border-bottom: 1px solid white;
font-size:large;
color: white;
text-align: center;
}
p+p{
text-indent:1.5em;
}
/* .float_image{
float:left;
border:2px solid white;
margin-right: 0.5em;
}
.cap{
font-weight:bold;
font-size:large;
} */
/* #sidebar{
float:right;
width:200px;
border:2px solid white;
margin:0 5px 0 5px;
background:white;
padding:2px;
font-family:sans-serif;
}
.textinput{
width:100px;
float:right;
margin-top:5px;
}
label{
float:left;
margin-top:5px;
}
#notice{
color:red;
clear:both;
} */

table{
    width:95%;
    border: 1px solid white;
    font-family: sans-serif;
    background-color: #333333;
}
th{
    background-color: rgba(0,0,50,0.6);
    color:white;
}
tr td{
    text-align: center;
    padding:2px;
    background-color: #333333
}
tr{
    border-top: 2px solid white;
}
a {
    color: cyan;
}

#plot {
	height: 80vh;
	width: 95vw;
}

form {
	display: inline;
}

input {
	background-color: #333;
	color: #fff;
}

select {
	background-color: #333;
	color: #fff;
}

button {
    background-color: #444;
    color: #fff;
	border: 1px solid white;
	border-radius: 5px;
}

/* button.accordion {
    background-color: rgba(255, 255, 255, 0.1);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid #009900;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: left;
    outline: none;
    font-size: large;
    transition: 0.4s;
}

button.accordion:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

button.accordion.active {
    border: 2px solid #990000;
}

button.accordion:after {
    content: '\002B';
    color: #009900;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
    color: #990000;
} */
